html,
body {
  margin: 0;
  padding: 0 1rem;
  font-family: "Source Sans Pro", sans-serif;
}

.card {
  width: 100%;
  background-color: white;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
  border-radius: var(--sd-card-border-radius-mobile);
}

.card img {
  display: block;
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card h2,
.card p {
  padding: 1rem;
  margin: 0;
}

.card h2 {
  color: var(--sd-card-heading-color);
}

.card p {
  color: var(--sd-card-text-color);
}

@media (min-width: 600px) {
  .card {
    border-radius: var(--sd-card-border-radius-desktop);
  }
}
